.speedTwo{
    color: gray;
    font-size: 1rem;
    font-weight: bold;
    background-color: transparent;
    border: none;
}

.speedTwoActivated{
    color: #009688;
    font-size: 1rem;
    font-weight: bold;
    background-color: transparent;
    border: 1px solid #009688;
    padding: 0px 4px 0px 2px;
    border-radius: 4px;
}

#mySelect{
    color: gray;
    font-size: 1rem;
    font-weight: bold;
    background-color: transparent;
    border: none;
    -webkit-appearance: none;  /* Remove estilo padrão do Chrome */
    -moz-appearance: none; /* Remove estilo padrão do FireFox */
    appearance: none; /* Remove estilo padrão do FireFox*/
    background: url(http://www.webcis.com.br/images/imagens-noticias/select/ico-seta-appearance.gif) no-repeat;  /* Imagem de fundo (Seta) */
    background-position: 40px center;  /*Posição da imagem do background*/
    width: 72px; /* Tamanho do select, maior que o tamanho da div "div-select" */
    height: 28px; /* Altura do select, importante para que tenha a mesma altura em todo os navegadores */
    border:1px solid gray;
    padding: 5px;
}

option{
    padding: 4px;
    background-color: #f2f2f2;
    border: 1px solid green;
}